.conteudo-principal-meus-eventos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

.meus-eventos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    align-self: stretch;
}

.ordenacao-meus-eventos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.icone-sem-eventos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.sem-eventos{
    color: var(--purple-700);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.botao-meus-eventos{
    display: flex;
    width: 225px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
}

.botao-ordernar-eventos{
    display: flex;
    width: 44px;
    height: 44px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--purple-700);
    cursor: pointer;
    transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}

.botao-ordernar-eventos.crescente{
    transform: rotate(0deg);
}

.botao-ordernar-eventos.decrescente{
    transform: rotate(180deg);
}

.botao-ordernar-eventos:hover{
    background-color: var(--purple-800);
}

.botao-ordernar-eventos:active{
    background-color: var(--purple-900);
}

.seta-eventos{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
}

.ordenacao-ordem-exibicao{
    display: flex;
    align-items: center;
    gap: 12px;
}

.meus-eventos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
    align-self: stretch;
}

.sumario-eventos{
    color: var(--purple-900);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.exibicao-eventos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    display: block;
}

.numero-de-eventos{
    font-size: 14px;
}

.botao-criar-eventos{
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.botao-criar-eventos-meus-eventos{
    display: flex;
    width: 75px;
    height: 75px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 46.5px;
    background: var(--purple-700);
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.botao-criar-eventos-meus-eventos:hover{
    background-color: var(--purple-800);
}

.botao-criar-eventos-meus-eventos:active{
    background-color: var(--purple-900);
}

.formulario-sem-eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.conteudo-principal-meus-eventos__pesquisa-filtros{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.conteudo-principal-meus-eventos__pesquisa{
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.conteudo-principal-meus-eventos__pesquisa__input{
    width: 100%;
}

.conteudo-principal-meus-eventos__botao{
    width: 160px;
    height: 44px;   
}

.conteudo-principal-meus-eventos__filtros {
    display: flex;
    align-items: center;
    gap: 16px;
    opacity: 0;
    transform: perspective(800px) rotateX(-90deg) translateY(-48px);
    transform-origin: top;
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
  }
  
  .conteudo-principal-meus-eventos__filtros--mostrar {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateY(0);
    pointer-events: auto;
  }
  
.conteudo-principal-meus-eventos__filtros__selects{
    width: 160px;
}

.conteudo-principal-meus-eventos__limpar-filtros{
    color: var(--purple-700);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 171.429% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
}

.eventos-nao-encontrados{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: var(--purple-700);  
}

.sem-eventos-encontrados{
    background-image: url(../../assets/sem-eventos-encontrados.svg);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 768px){
    .ordenacao-meus-eventos{
        gap: 2rem;
    }
}

@media screen and (max-width: 500px){
    .sumario-eventos{
        font-size: 1.25rem;
    }

    .botao-criar-eventos{
        right: 1rem;
        bottom: 1rem;
    }

    .botao-criar-eventos-meus-eventos{
        width: 70px;
        height: 70px;
        padding: 16px;
    }
}