.conteudo-principal-meus-eventos{
    display: flex;
    padding: 56px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

.meus-eventos-titulo{
    color: #2F2F2F;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.informacoes-meus-eventos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    align-self: stretch;
}

.ordenacao-meus-eventos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.icone-sem-eventos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.sem-eventos{
    color: var(--Purple-700, #8C5DFF);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.botao-meus-eventos{
    display: flex;
    width: 225px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
}

.botao-ordernar-eventos.crescente{
    display: flex;
    width: 44px;
    height: 44px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Purple-700, #8C5DFF);
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s; 
}

.botao-ordernar-eventos.decrescente{
    display: flex;
    width: 44px;
    height: 44px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Purple-700, #8C5DFF);
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 0.3s; 
}



.seta-eventos{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
}

.ordenacao-ordem-exibicao{
    display: flex;
    align-items: center;
    gap: 12px;
}

.meus-eventos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
    align-self: stretch;
}

.sumario-eventos{
    color: var(--Purple-900, #55379D);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.exibicao-eventos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.eventos-concluidos-em-andamento-finalizados{
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    flex-wrap: wrap;
}

.numero-de-eventos{
    font-size: 14px;
}

.botao-criar-eventos{
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.botao-criar-eventos-meus-eventos{
    display: flex;
    width: 75px;
    height: 75px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 46.5px;
    background: var(--Purple-700, #8C5DFF);
    cursor: pointer;
}

.botao-criar-eventos-meus-eventos:hover{
    background: var(--Purple-900, #55379D);

    
}

.formulario-sem-eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}