.select{
    width: 100%;
    border: solid #CED4DA 1px;
    border-radius: 8px;
    padding: 9px 42px 9px 16px;
    font-family: var(--fonte-principal) ;
    background-color: white ;
    box-shadow: 0px 2px 2px 0px rgba(33, 37, 41, 0.06), 0px 0px 1px 0px rgba(33, 37, 41, 0.08);
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select:focus{
    outline: solid var(--cor-principal) 2px;
    border-color: transparent;
}

.select:disabled{
    background-color: #F8F9FA;
    color: rgba(33, 37, 41, 0.56);
    border-color: #CED4DA;
    cursor: not-allowed;
}

.select__label{
    margin-bottom: .5rem;
    font-weight: 300;
    color: black;
    font-size: 1rem;
}

.select__container{
    position: relative;
}

.select__icone{
    position: absolute;
    right: 16px;
    top: 35%;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
}

.select__icone-rotacionado{
    transform: rotate(180deg);
}
