.convites{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    align-self: stretch;
}

.botoes-convites{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.atualizar-lista-convites {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .gerar-convites {
    background-color: #8C5DFF;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .botao-atualizar:hover {
    transform: rotate(180deg);
  }

  .botao-confirmar-presencas{
    width: 200px;
  }

  .excluir-convite{
    cursor:pointer
  }

  .tabela-convites {
    width: 100%;
    border-collapse: collapse;
  }

  .tabela-convites th{
    border-top: 1px solid var(--purple-800);
    border-bottom: 1px solid var(--purple-800);
    background: var(--purple-700);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .tabela-convites th,
  .tabela-convites td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid var(--purple-700);
  }

  .link-convite{
    color: var(--purple-700);
    font-weight: 400;
    transition: text-decoration 0.3s ease-in-out;
  }

  .link-convite:hover{
    text-decoration-color: transparent;
  }

  .status-convidado{
    width: 127px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .status-convidado span::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .status-convidado.confirmado span::before,
  .status-convidado.utilizado span::before{
    background-color: #0F5132;
  }

  .status-convidado.recusado span::before {
    background-color: #842029;
  }

  .status-convidado.pendente span::before {
    background-color: #055160;
  }
  
  .status-convidado.confirmado,
  .status-convidado.utilizado {
    color: #0F5132;
    border: 1px solid #BADBCC;
    background: #D1E7DD;
  }
  
  .status-convidado.recusado {
    color: #842029;
    border: 1px solid #F5C2C7;
    background: #F8D7DA;
  }
  
  .status-convidado.pendente {
    border: 1px solid #B6EFFB;
    background: #CFF4FC;
    color: #055160;
  }
  
  .remover-convidado {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #999;
  }

  .texto-atualizar-convites{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .gerar-convite__nao-gerado{
    margin: 0;
  }

  .gerar-convite{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .gerar-convite__texto{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
  }

  .gerar-convite__input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
  }

  .gerar-convite__container-input{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .gerar-convite__checkbox{
    display: flex;
    gap: 8px;
  }

  .gerar-convite__checkbox label{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
  }

@media screen and (max-width: 500px){
  .gerar-convite__texto{
    font-size: 16px;
  }
}