.perfil {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.perfil--titulo-botao{
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  justify-content: space-between;
}

.perfil--botao-notificacao{
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 92px;
  border: 1px solid var(--yellow-800);
  background: var(--yellow-700);
  color: white;
  cursor: pointer;
}

.perfil--botao-notificacao-prestador{
    display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 92px;
  border: 1px solid var(--purple-700);
  background: var(--purple-800);
  color: white;
  cursor: pointer;
}

.caixa-perfil{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
  justify-content: space-between;
}

.formulario-perfil{ 
  display: flex;
  padding: 48px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--purple-700);
  background: #FFF;
}

.perfil-foto-nome-email-organizador{
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: space-between; 
  width: 100%;
}

.nome-email-organizador{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.nome-perfil-organizador{
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  width: 100%;
}

.email-perfil-organizador{
  color: black;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  width: 100%;
}

.botao-alterar-foto-perfil,
.botao-remover-foto-perfil{
  width: 150px;
}

.caixa-input-perfil{
  display: flex;
  padding: 48px 40px;
  flex-direction: column;
  gap: 42px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--purple-700);
  background: #FFF;
}

.texto-informacoes-pessoal{
  color: var(--purple-700);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.texto-input-perfil{
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  align-self: stretch;
}

.botoes-alterar-perfil{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}

.botoes-alterar-perfil-edicao{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.botao-editar,
.botao-deletar{
  max-width: 150px;
  width: 100%;
}

.foto-perfil {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
} 
    
.botoes-foto-perfil{
  display: flex;
  align-items: center;
  gap: 28px; 
}

.perfil-fora-modo-edicao{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.perfil-modo-edicao{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.imagem-perfil{
  width: 76px;
  height: 76px;
  border-radius: 50%;
  object-fit: cover;
}

/* css prestador  */
.formulario-perfil-prestador{ 
  display: flex;
  padding: 48px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid #F3C623;
  background: #FFF;
}

.texto-informacoes-empresa{
  color: var(--yellow-700);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.caixa-input-perfil-prestador{
  display: flex;
  padding: 48px 40px;
  flex-direction: column;
  gap: 42px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--yellow-700);
  background: #FFF;
}

.completar-cadastro--imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.completar-cadastro--imagem--tamanho{
  width: 238px;
  height: 83px;
  aspect-ratio: 238/83;
}

.completar-cadastro--titulo{
  display: flex;
  padding-top: 16px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-items: center;
}

.completar-cadastro--titulo-texto{
  color: var(--yellow-800);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.completar-cadastro-prestador--titulo-texto{
    color: var(--purple-700);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.completar-cadastro--descricao{
  color: #414141;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.completar-cadastro--texto{
  display: flex;
  padding: 41px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  flex: 1 0 0;
  color: #414141;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  white-space: pre-line;
}

.modal-completar-cadastro--texto{
  display: flex;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.modal-completar-cadastro--campos{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.modal-completar-cadastro--nome-cnpj{
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  justify-content: space-between;
}

@media screen and (max-width: 1200px){
  .botoes-foto-perfil{
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 767px){
  .perfil-foto-nome-email-organizador{
    flex-direction: column;
  }

  .botoes-foto-perfil{
    flex-direction: row;
  }

  .nome-perfil-organizador{
    font-size: 20px;
  }

  .email-perfil-organizador{
    font-size: 14px;
  }

  .foto-perfil {
    flex-direction: column;
  }

  .nome-email-organizador{
    text-align: center;
  }

  .botoes-alterar-perfil-edicao{
    justify-content: center;
  }
}

@media screen and (max-width: 500px){
  .formulario-perfil,
  .caixa-input-perfil{
    padding: 48px 24px;
  }

  .texto-informacoes-pessoal{
    text-align: center;
  }

  .botoes-foto-perfil{
    flex-direction: column;
  }
}

@media screen and (max-width: 375px){
  .botoes-alterar-perfil{
    flex-direction: column;
  }

  .botoes-alterar-perfil-edicao{
    gap: 1rem;
  }
}