@import url(../../App.css);

.radio{
    display: none;
}

.label_radio{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: left;
    gap: 8px;
}

.radio_span{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid #ADB5BD;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}


.radio:not(:checked) ~ .radio_span:hover{
    border: 1px solid rgb(88, 88, 88);
}

.radio:checked ~ .radio_span::after{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: white;
}

.radio:checked ~ .organizador:hover{
    background-color: var(--purple-800);
}

.radio:checked ~ .organizador:active{
    background-color: var(--purple-700);
}

.radio:checked ~ .organizador{
    background-color: var(--purple-700);
}

.radio:checked ~ .prestador:hover{
    background-color: var(--yellow-800);
}

.radio:checked ~ .prestador:active{
    background-color: var(--yellow-700);
}

.radio:checked ~ .prestador{
    background-color: var(--yellow-700);
}