.cabecalho-usuario{
    padding: .5rem 0;
    background-color: var(--purple-700);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.40);
    z-index: 1;
}

.cabecalho-usuario__link{
    display: inline-block;
}

.cabecalho-usuario__logo-container{
    max-width: 175px;
}

.cabecalho-usuario__logotipo{
    width: 100%;
}

@media screen and (max-width: 700px){
    .cabecalho-usuario__logo-container{
        max-width: 145px;
    }
}