.convidados{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    align-self: stretch;
}

.botoes-convidados{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.atualizar-lista-convidados {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .botao-atualizar {
    background-color: #8C5DFF;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .botao-atualizar:hover {
    transform: rotate(180deg);
  }

  .botao-confirmar-presencas{
    width: 200px;
  }

  .imprimir-lista{
    width: 139px;
  }

  .tabela-convidados {
    width: 100%;
    border-collapse: collapse;
  }

  .tabela-convidados th{
    border-top: 1px solid var(--purple-800);
    border-bottom: 1px solid var(--purple-800);
    background: var(--purple-700);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .tabela-convidados th,
  .tabela-convidados td {
    padding: 16px 16px;
    text-align: left;
    border-bottom: 1px solid var(--purple-700);
  }

  .convidados__botao-exibir-acompanhantes{
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .convidados__botao-rotacionar{
    transform: rotate(90deg);
  }

  .tabela-convidados td.coluna-acompanhante{
    padding: 0;
  }

  .tabela-acompanhantes{
    width: 100%;
    border-collapse: collapse;
  }

  .tabela-acompanhantes th,
  .tabela-acompanhantes td {
    padding: 8px 16px;
    
  }

  .tabela-acompanhantes th{
    border-bottom: 1px solid white;
  }

  .tabela-acompanhantes td{
    border-bottom: 1px solid var(--purple-700);
  }

  .tabela-acompanhantes th{
    background-color: var(--purple-900);
  }

  .tabela-acompanhantes td{
    background-color: var(--purple-800);
    color: #FFF;
  }
  
  .status-convidado {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 5px 14px;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .status-convidado.confirmado {
    color: #0F5132;
    border-radius: 16px;
    border: 1px solid #BADBCC;
    background: #D1E7DD;
  }
  
  .status-convidado.recusado {
    color: #842029;
    border-radius: 16px;
    border: 1px solid #F5C2C7;
    background: #F8D7DA;
  }
  
  .status-convidado.pendente {
    border-radius: 16px;
    border: 1px solid #B6EFFB;
    background: #CFF4FC;
    color: #055160;
  }

  .nome-acompanhante{
    color: var(--purple-700);
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    transition: text-decoration .3s ease-in-out;
    cursor: pointer;
  }

  .nome-acompanhante:hover{
    text-decoration-color: transparent;
  }
  
  .remover-convidado {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #999;
  }

  .texto-atualizar-convidados{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .modal-confirmar-presenca{
    display: flex;
    width: 524px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  
  .caixa-convidados-pendentes-botoes{
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--Purple-900, #55379D);
  }
  
  .convidados-pendentes-botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  
  .numero-pendentes{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 75% */
  }
  
  .texto-convidados-pendentes{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }
  
  .botoes-convidados-pendentes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }
  
  .botoes-anterior-proximo{
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .inputs-dados{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  
  .titulo-campos{
    color: var(--Purple-700, #8C5DFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .dados-convidado{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .detalhes-acompanhante{
    background-color: var(--purple-800);
    color: white;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
  }

  .summary-acompanhante{
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .detalhes-acompanhante[open] .icone-summary-acompanhante {
    transform: rotate(90deg);
  }

  .detalhes-conteudo-acompanhante{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .detalhes-campo-acompanhante{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .detalhes-titulo-acompanhante{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  .detalhes-dado-acompanhante{
    margin: 0;
  }
  
  .botoes-acoes-convidado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }