.textarea{
    width: 100%;
    border: solid #CED4DA 1px;
    border-radius: 8px;
    padding: 10px 16px;
    font-family: var(--fonte-principal) ;
    background-color: white ;
    box-shadow: 0px 2px 2px 0px rgba(33, 37, 41, 0.06), 0px 0px 1px 0px rgba(33, 37, 41, 0.08);
    min-height: 151px;
}

.textarea:focus{
    outline: solid var(--cor-principal) 2px;
    border-color: transparent;
}

.textarea::placeholder{
    font-family: var(--fonte-principal);
}

.textarea__label{
    margin-bottom: .5rem;
    font-weight: 300;
    color: black;
    font-size: 1rem;
}

.textarea__container{
    position: relative;
}

.contador{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: gray;
    background-color: rgba(128, 128, 128, .2);
    border-radius: 5px;
}