.cabecalho-servicos{
    padding: 56px 32px 0;
    background: #FFF;
    box-shadow: 0px 4px 9px 0px rgba(255, 217, 93, 0.16);
}

.titulo-infos-eventos{
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 32px;
}

.titulo-informacoes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-width: 0;
}

.titulo-do-evento{
    overflow: hidden;
}
.cabecalho-evento__titulo{
    color: #2F2F2F;
    font-size: 2.5rem;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }

.botoes-evento{
    display: flex;
    gap: 16px;
}

.botao-evento{
    width: 100%;
    width: 160px;
}

.informacoes-evento-data-hora,
.informacoes-evento{
    display: flex;
    gap: 24px;
}

.alinhamento-info-icone-servico{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--yellow-900);
    font-size: 14px;
    font-weight: 500;
}

.icone-preco-servico{
    font-size: 16px;
    font-weight: 600;
}

.cor-unidade-servico{
    color: var(--yellow-800);
}

.cabecalho-evento--sem-endereco{
    color: #afafaf;
    font-style: italic;
}

.abas-evento{
    display: flex;
    gap: 8px;
}

.aba-servico{
    display: flex;
    height: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    transition: color 0.3s ease-out;
    text-decoration: none;
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 8px;
    white-space: nowrap;
}

.aba-servico:hover,
.aba-servico--ativo{
    color: var(--yellow-700);
}

.aba-servico--ativo{
    border-bottom: var(--yellow-700) 3px solid;
}

/* Modal */

.modal-editar-evento{
    display: flex;
    width: 853px;
    height: auto;
    flex-grow: 1;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.campos-editar-evento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.nome-categoria-evento{
    display: flex;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
}

.nome-input-evento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.textos{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.categoria-input-evento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.descricao-input-evento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.input-tamanho{
    width: 393px;
}

.input-tamanho-descricao{
    height: 151px;
    width: 813px;
}

.imagem-evento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}


.imagem-evento-texto-botao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.input-imagem-evento{
    display: flex;
    align-items: center;
    gap: 24px;
}

.sem-imagem{
    display: flex;
    width: 341px;
    height: 198px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 2px dashed rgba(0, 0, 0, 0.25);
    background: #C4C4C4;
}

.botoes-imagem{
    display: flex;
    width: 183px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.novos-dados-eventos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.texto-input-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.input-data-evento{
    width: 813px;
}

.texto-input-hora-inicio-evento{
    display: flex;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
}

.horario-inicio-fim-evento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.texto-input-cep-endereco{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.input-texto-cep-numero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.input-texto-endereco-complemento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.input-tamanho-endereco-complemento{
    width: 550px;
}

.input-texto-numero-complemento{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.input-tamanho-cep-numero{
    width: 239px;
}

.input-texto-bairro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.input-texto-bairro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.input-bairro{
    width: 813px;
}

.input-texto-cidade-uf{
    display: flex;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
}

.input-cidade{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.input-tamanho-cidade{
    width: 546px;
}

.input-uf{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

@media screen and (max-width: 1400px){
    .botoes-evento{
        flex-direction: column;
    }
}

@media screen and (max-width: 992px){
    .titulo-infos-eventos{
        flex-direction: column;
        gap: 32px;
    }

    .botao-evento{
        width: 100%;
    }

    .botoes-evento{
        flex-direction: row;
        justify-content: center;
    }

    .abas-evento{
        justify-content: center;
    }
}

.editar-evento__alerta{
    position: fixed;
    margin-top: 16px;
    top: 10%;
    right: 32px;
    width: 560px;
    z-index: 1;
}

@media screen and (max-width: 700px){
    .informacoes-evento{
        flex-direction: column;
        gap: 12px;
    }
}

@media screen and (max-width: 575px){
    .cabecalho-eventos{
        padding: 32px 8px 0;
    }
}

@media screen and (max-width: 500px){
    .cabecalho-evento__titulo{
        font-size: 2rem;
    }
}

@media screen and (max-width: 470px){
    .aba-evento{
        font-size: 14px;
    }
}

@media screen and (max-width: 380px){
    .cabecalho-evento__titulo{
        font-size: 1.5rem;
    }

    .botoes-evento{
        flex-direction: column;
    }

    .abas-evento {
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth; 
        scrollbar-width: thin;
        scrollbar-color: var(--purple-700) #f0f0f0;
    }
}