.alerta{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    padding: 12px 20px;
    overflow: hidden;
    animation: aviso-abrindo .5s forwards ease-in;
}

@keyframes aviso-abrindo{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.alerta::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--cor-alerta);
    width: 100%;
    height: 2px;
    animation: alerta 10s ease-in-out forwards;
}

@keyframes alerta{
    0%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}

.alerta__icone{
    font-size: 20px;
}

.alerta__texto{
    width: 100%;
    padding: 0px 20px 0px 8px;
}

.alerta__fechar{
    cursor: pointer;
    font-size: 20px;
}

.alerta__botao{
    border: none;
    background-color: transparent;
    padding:0;
    display: flex;
    align-items: center;
    color: inherit;
}

.alerta__invisivel{
    display: none;
}

.alerta__fechando{
    animation: aviso-fechando .3s forwards ease-out;
}

@keyframes aviso-fechando{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

@media screen and (max-width: 400px){
    .alerta__texto{
        font-size: 14px;
    }
    .alerta__icone{
        font-size: 16px;
    }
    .alerta__fechar{
        font-size: 16px;
    }
}