.CabecalhoLogado{
    display: flex; 
    width: 100%; 
    height: 80px; 
    padding: 17px 128px; 
    justify-content: space-between; 
    align-items: center; 
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.CabecalhoLogado svg path{
    fill-rule: evenodd;
    clip-rule: evenodd;
}

.cabecalho-logado__container{
    display: flex;
    align-items: center;
    gap: 16px;
}

.cabecalho-logado__menu-mobile{
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none;
}

.cabecalho-logado__menu-mobile{
    padding: 0;
}

.cabecalho-logado__menu-mobile div{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 4px;
    transition: 0.3s ease-in;
}

.titulo{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
}

.modal1{
    position: absolute; 
    top: 50px; 
    right: 30px; 
    padding: 20px;
    animation: mostra-perfil 0.3s ease-in-out both alternate;
}

.imagem-perfil-modal{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

@keyframes mostra-perfil {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.icone-perfil{
    cursor: pointer;
}

.icone-perfil:hover{
    opacity: 0.7;
    transform: scale(1.05);
    transition: 0.5s;
}

.cabecalho-logado__logo-container{
    max-width: 175px;
}

.cabecalho-logado__logo{
    width: 100%;
}

@media screen and (max-width: 1024px){
    .CabecalhoLogado{
        padding: 17px 32px; 
    }

    .cabecalho-logado__logo{
        max-width: 145px;
    }

    .modal1{
        right: 10px; 
    }

    .cabecalho-logado__menu-mobile{
        display: block;
    }

    .cabecalho-logado__menu-mobile--ativo .cabecalho-logado__menu-linha1{
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    .cabecalho-logado__menu-mobile--ativo .cabecalho-logado__menu-linha2{
        opacity: 0;
    }

    .cabecalho-logado__menu-mobile--ativo .cabecalho-logado__menu-linha3{
        transform: rotate(45deg) translate(-4px, -5px);
    }
}

@media screen and (max-width: 700px){
    .CabecalhoLogado{
        padding: 17px 16px; 
    }

    .modal1{
        right: 0; 
    }
}