.cadastro-evento__alerta{
    position: fixed;
    top: 10%;
    right: 32px;
    width: 560px;
    z-index: 1;
}
.cadastro-evento__botoes{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.cadastro-evento__form{
    background-color: white;
    width: 100%;
    margin: 2.5rem 0;
    border-radius: 2rem;
    border: 1px solid var(--purple-700);
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
}

.cadastro-evento{
    gap: 40px;
}

.cadastro-evento__container-imagem-botoes{
    justify-content: center;
}
.cadastro-evento__container-imagem{
    height: 198px;
    width: 341px;
    border-radius: 1rem;
}

.cadastro-evento__container-imagem-botoes{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.cadastro-evento__botao-padrao{
    width: 150px;
}

.cadastro-evento__sem-imagem{
    border: 2px dashed rgba(0, 0, 0, 0.25);
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 1rem;
}

.cadastro-evento__input_imagem{
    display: none;
}

.cadastro-evento__sem-imagem-icone{
    color: rgba(0, 0, 0, 0.25);
    font-size: 75px;
}
.cadastro-evento__imagem{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .cadastro-evento__alerta{
        transform: translateX(-50%);
        left: 50%;
       width: 100%;
       padding: 0 32px;
    }
}

@media screen and (max-width: 767px) {
    .cadastro-evento__container-imagem-botoes{
        flex-direction: column;
    }
     
    .cadastro-evento__container-imagem{
        width: 100%;
        height: 250px;
    }

    .cadastro-evento__container-imagem-botoes{
        width: 183px;
        margin: auto;
    }
    
    .cadastro-evento__botao-padrao{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .cadastro-evento__form{
        padding: 3rem 1.5rem;
    }
}